/*  your css code here. If applicable */
body{
	background:linear-gradient(to bottom, #b96fa1,  #5a3f8c );
}
.selected-location{
	display:flex;
	gap:20px
}
.location img{
	width:40%;
}
.selected-location h1{
	font-family: 'roboto';
	font-size:25px;
	font-weight:600;
	color:white;
}
.selected-location p{
	font-family: 'roboto';
	font-weight:600;
	color:white;
}
.weather-block{
	display:flex;
	justify-content:space-between;
	align-items:center;
	gap:50px;
	margin-top:50px;
	text-align:center;
}
.weather-block .item-temp h2{
	color:white;
}
.weather-block .item-temp img{
	width:100%;
	border-radius:50%;
}
.weather-block .item-temp .item-temp-number1{
	color:white;
	font-weight:600;
}
.weather-block .item-temp p span{
	
}
span{
	color:white;
}
@media only screen and (max-width: 900px){
	body{
		padding:20px;
	}
	.weather-block{
	    display:grid;
		padding:20px;
		background:linear-gradient(to bottom, #b96fa1,  #5a3f8c );
		backdrop-filter:blur(330px);
		background-color:#fff;
		opacity:90%;
		z-index: -1;
		border-radius:50px;
	}
	.item-img{
		width:30%;
		height:auto;
	}
	.item-img img{
		width:100%;
	}
	.item-temp{
		display:flex;
		justify-content:space-between;
		align-items:center;
		gap:30px;
		height:200px;
		border-bottom:2px solid white;
	}
	
}